body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfd1e0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    background-color: #392f5a;
    color: #fff;
    padding: 10px 0;
}

.main-header .logo {
    display: flex;
    align-items: center;
}

.main-header .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-info {
    text-align: center;
    margin-bottom: 20px;
}

.product-info p,
.product-info pre {
    text-align: left;
    font-size: medium;
}

.product-info img {
    max-width: 20%;
    height: auto;
}

.price {
    color: #b12704;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea,
select,
button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.search-container {
    scroll-margin-right: auto; /* Move search bar to the right */
}

.search-container input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 8px 20px;
    background-color: #a43f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #0056b3;
}

.login-signup {
    display: flex;
    gap: 10px;
}

.login-signup li {
    list-style: none;
}

.login-signup a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
}

.footer-section .social ul {
    display: flex;
}

.footer-section .social ul li {
    margin-right: 10px;
}

.footer-section .social ul li a img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
